.box {
  min-height: 10em;
  padding: 1em;
  margin: 1em;
  border: 1px solid #777;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

