/* line 12, ../sass/basic.scss */
.main {
  *zoom: 1;
  max-width: 50em;
  _width: 50em;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.main:after {
  content: "";
  display: table;
  clear: both;
}
/* line 15, ../sass/basic.scss */
.main .box {
  width: 31.70732%;
  float: left;
  margin-right: 2.43902%;
  display: inline;
}
