/* line 12, ../sass/basic.scss */
body {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../.rvm/gems/ruby-2.0.0-p195@coloured/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body:after {
  content: "";
  display: table;
  clear: both;
}

/* line 26, ../sass/basic.scss */
header div.nav button {
  padding: 2px;
  margin: 2px;
  border: 1px solid #bbb;
  border-radius: 3px;
}
/* line 34, ../sass/basic.scss */
header div.nav button div {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-size: 80px 80px;
  margin: 0;
}
/* line 45, ../sass/basic.scss */
header div.nav button.grey div {
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cfilter%20id%3D%22desaturate%22%3E%3CfeColorMatrix%20type%3D%22saturate%22%20values%3D%220%22/%3E%3C/filter%3E%3C/svg%3E#desaturate);
}
/* line 52, ../sass/basic.scss */
header div.nav button.english div {
  background-image: url("../../app/navigation/images/gb-square.svg");
}
/* line 55, ../sass/basic.scss */
header div.nav button.spanish div {
  background-image: url("../../app/navigation/images/cl-square.svg");
}
/* line 58, ../sass/basic.scss */
header div.nav button.italian div {
  background-image: url("../../app/navigation/images/it-square.svg");
}

/* line 67, ../sass/basic.scss */
.main .box {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
