@import "susy";


$total-cols             : 12;  
$col-width              : 4em;  
$gutter-width           : 1em;  
$side-gutter-width      : $gutter-width;

//$container-style: magic;
//$container-width: 100%;

body {
  @include container;
}



section {
  //@include span-columns(12); 
}



header div.nav {

  button {

    padding: 2px;
    margin: 2px;

    border: 1px solid #bbb;
    border-radius: 3px;

    div { 
      display: inline-block;
      width: 80px;
      height: 80px;
      background-size: 80px 80px;
      margin: 0;
    }
  
  }

  button.grey {
    div {
      filter: gray;
      -webkit-filter: grayscale(1);
      filter:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cfilter%20id%3D%22desaturate%22%3E%3CfeColorMatrix%20type%3D%22saturate%22%20values%3D%220%22/%3E%3C/filter%3E%3C/svg%3E#desaturate);
    }
  }

  button.english div {
    background-image: url("../../app/navigation/images/gb-square.svg");
  }
  button.spanish div {
    background-image: url("../../app/navigation/images/cl-square.svg");
  }
  button.italian div {
    background-image: url("../../app/navigation/images/it-square.svg");
  }

}

.main { 
  //@include span-columns(12); 

  .box {
    @include span-columns(3,12); // each gallery-image is 2 of 6 cols.
  }

}














