@import "susy";

// Elastic grid as percentages
$total-columns: 6;
$column-width: 12%;
$gutter-width: 2%;
$grid-padding: 1%;

$container-style: magic;
$container-width: 50em;

.main { 
  @include container;

  .box {
    @include span-columns(2,6); // each gallery-image is 2 of 6 cols.
  }

}














